flow.json
[
    {
        "id": "80ef1349e05a0eab",
        "type": "tab",
        "label": "BBDD Local",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c8508be57c9f0b2",
        "type": "tab",
        "label": "InfluxDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ffcd10d31f07cbf",
        "type": "group",
        "z": "80ef1349e05a0eab",
        "name": "Gestión de Tablas",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "8026c6300b9e0c4c",
            "a4eafa7556bb7b8e",
            "4a29227291f92080",
            "79e82be227be63a4",
            "a9c1843274cf3473",
            "fee89fee6a1ef74e",
            "8ba13418584fe6f3",
            "5405d7c9efdbd4e5",
            "544a38a53d6bd471",
            "3c3e24fb71e9acde"
        ],
        "x": 64,
        "y": 19,
        "w": 502,
        "h": 362
    },
    {
        "id": "2f23fe46981e0267",
        "type": "group",
        "z": "80ef1349e05a0eab",
        "name": "Inserta Datos en SQLite",
        "style": {
            "label": true,
            "fill": "#ffbfbf"
        },
        "nodes": [
            "80432c8079eb3106",
            "e7010d6bd67f6655",
            "c5629d6988eb4d75",
            "0a9f862ee24d6605",
            "fcabf4f26602db06",
            "6a065deadd73fbe2",
            "d9e3750492c15a7a",
            "fdad1b13d2b01654",
            "89e8d6cd79661cb9",
            "8e19d4ac29baaa12",
            "debc0aec9c1b35be",
            "5946ac18d6372251",
            "3be9b47716e087ca"
        ],
        "x": 54,
        "y": 399,
        "w": 892,
        "h": 222
    },
    {
        "id": "5fb3bb4623a1533f",
        "type": "group",
        "z": "9c8508be57c9f0b2",
        "name": "Grabar en InfluxDB",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "b76931bc6c024737",
            "9dd806211bc32df2",
            "648d0d641004f804",
            "fb8da6d9a50c9b0c",
            "17a0c8bda65efa93",
            "aca568cb223d5561",
            "1a2051d1c09fcdfa"
        ],
        "x": 134,
        "y": 19,
        "w": 562,
        "h": 142
    },
    {
        "id": "ab211ab2e97208d8",
        "type": "group",
        "z": "9c8508be57c9f0b2",
        "name": "Otras Raspberry Pi",
        "style": {
            "label": true,
            "fill": "#ffbfbf"
        },
        "nodes": [
            "975bb1f46c1dbdbb",
            "5a15f05de8dbcba5",
            "20196975c0c766f9",
            "5dd90803c8cd2a85",
            "05256caa75103102",
            "014729d1d4038e9d",
            "e175676577055c23",
            "4654dd71ae1ff0b7",
            "47d597dc4d333927",
            "dd63c6be7af48876",
            "fbd1d21142b83aa4"
        ],
        "x": 34,
        "y": 259,
        "w": 832,
        "h": 142
    },
    {
        "id": "a4bef7ed8db80639",
        "type": "sqlitedb",
        "db": "/data/bbdd.db",
        "mode": "RWC"
    },
    {
        "id": "6e324f9b4a926545",
        "type": "mqtt-broker",
        "name": "",
        "broker": "aprendiendonodered.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e109da52ead82d4a",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://enriquecrespo.com:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "f1465d0c3863ea82",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "60e4ad67af30db98",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a44cb82a465b8f14",
        "type": "ui_group",
        "name": "Default",
        "tab": "f1465d0c3863ea82",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "80432c8079eb3106",
        "type": "sqlite",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "mydb": "a4bef7ed8db80639",
        "sqlquery": "prepared",
        "sql": "INSERT INTO \"datos_raspberry\" (\"fecha\", \"raspberry\",\"CPU\",\"Temperatura\",\"Memoria\") VALUES (CURRENT_TIMESTAMP, $raspberry, $CPU, $Temperatura, $Memoria);",
        "name": "",
        "x": 840,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8026c6300b9e0c4c",
        "type": "inject",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "name": "Crea tabla",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE \"datos_raspberry\" ( \"id\" INTEGER UNIQUE, \"fecha\" TEXT, \"raspberry\" TEXT, \"CPU\" REAL,\"Temperatura\" REAL,\"Memoria\" INTEGER, PRIMARY KEY(\"id\" AUTOINCREMENT) );",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "a9c1843274cf3473"
            ]
        ]
    },
    {
        "id": "e7010d6bd67f6655",
        "type": "comment",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "Inserta datos",
        "info": "",
        "x": 150,
        "y": 440,
        "wires": []
    },
    {
        "id": "a4eafa7556bb7b8e",
        "type": "comment",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "name": "Crea la tabla necesaria para insertar los datos",
        "info": "",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "fee89fee6a1ef74e",
        "type": "comment",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "name": "Consulta todos los datos de la tabla",
        "info": "",
        "x": 240,
        "y": 220,
        "wires": []
    },
    {
        "id": "4a29227291f92080",
        "type": "inject",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "name": "Borra datos tabla",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM datos_raspberry",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "a9c1843274cf3473"
            ]
        ]
    },
    {
        "id": "79e82be227be63a4",
        "type": "comment",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "name": "Borra datos tabla",
        "info": "",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "c5629d6988eb4d75",
        "type": "mqtt in",
        "z": "80ef1349e05a0eab",
        "d": true,
        "g": "2f23fe46981e0267",
        "name": "",
        "topic": "cursomqtt/enrique/raspberrypi/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e324f9b4a926545",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 480,
        "wires": [
            [
                "5946ac18d6372251"
            ]
        ]
    },
    {
        "id": "0a9f862ee24d6605",
        "type": "mqtt in",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "",
        "topic": "cursomqtt/casa/raspberrypi3/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e324f9b4a926545",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "3be9b47716e087ca"
            ]
        ]
    },
    {
        "id": "a9c1843274cf3473",
        "type": "sqlite",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "mydb": "a4bef7ed8db80639",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "5405d7c9efdbd4e5"
            ]
        ]
    },
    {
        "id": "8ba13418584fe6f3",
        "type": "inject",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "name": "Todos los datos",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM datos_raspberry",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "a9c1843274cf3473"
            ]
        ]
    },
    {
        "id": "5405d7c9efdbd4e5",
        "type": "debug",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "fcabf4f26602db06",
        "type": "join",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "d9e3750492c15a7a",
                "8e19d4ac29baaa12"
            ]
        ]
    },
    {
        "id": "6a065deadd73fbe2",
        "type": "join",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "fdad1b13d2b01654",
                "89e8d6cd79661cb9"
            ]
        ]
    },
    {
        "id": "d9e3750492c15a7a",
        "type": "change",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params.$raspberry",
                "pt": "msg",
                "to": "raspberrypitt",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "params.$CPU",
                "pt": "msg",
                "to": "payload[\"cursomqtt/enrique/raspberrypi/CPU\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$Temperatura",
                "pt": "msg",
                "to": "payload[\"cursomqtt/enrique/raspberrypi/temperatura\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$Memoria",
                "pt": "msg",
                "to": "payload[\"cursomqtt/enrique/raspberrypi/memoria\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 480,
        "wires": [
            [
                "80432c8079eb3106"
            ]
        ]
    },
    {
        "id": "fdad1b13d2b01654",
        "type": "change",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params.$raspberry",
                "pt": "msg",
                "to": "raspberrypi3",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "params.$CPU",
                "pt": "msg",
                "to": "0",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$Temperatura",
                "pt": "msg",
                "to": "payload[\"cursomqtt/casa/raspberrypi3/Temperatura\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.$Memoria",
                "pt": "msg",
                "to": "payload[\"cursomqtt/casa/raspberrypi3/Memoria\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 540,
        "wires": [
            [
                "80432c8079eb3106"
            ]
        ]
    },
    {
        "id": "544a38a53d6bd471",
        "type": "inject",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 01 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM datos_raspberry WHERE unixepoch(fecha) < unixepoch('now','-1 months')",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "a9c1843274cf3473"
            ]
        ]
    },
    {
        "id": "3c3e24fb71e9acde",
        "type": "comment",
        "z": "80ef1349e05a0eab",
        "g": "8ffcd10d31f07cbf",
        "name": "Borra datos más antiguos de un mes",
        "info": "",
        "x": 240,
        "y": 300,
        "wires": []
    },
    {
        "id": "89e8d6cd79661cb9",
        "type": "link out",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "raspberrypi3",
        "mode": "link",
        "links": [
            "648d0d641004f804"
        ],
        "x": 595,
        "y": 580,
        "wires": []
    },
    {
        "id": "8e19d4ac29baaa12",
        "type": "link out",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "raspberrypi",
        "mode": "link",
        "links": [
            "9dd806211bc32df2"
        ],
        "x": 585,
        "y": 440,
        "wires": []
    },
    {
        "id": "debc0aec9c1b35be",
        "type": "change",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 425,
        "y": 540,
        "wires": [
            [
                "6a065deadd73fbe2"
            ]
        ],
        "l": false
    },
    {
        "id": "5946ac18d6372251",
        "type": "change",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 375,
        "y": 480,
        "wires": [
            [
                "fcabf4f26602db06"
            ]
        ],
        "l": false
    },
    {
        "id": "3be9b47716e087ca",
        "type": "switch",
        "z": "80ef1349e05a0eab",
        "g": "2f23fe46981e0267",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "CPU",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 375,
        "y": 540,
        "wires": [
            [],
            [
                "debc0aec9c1b35be"
            ]
        ],
        "l": false
    },
    {
        "id": "b76931bc6c024737",
        "type": "influxdb out",
        "z": "9c8508be57c9f0b2",
        "g": "5fb3bb4623a1533f",
        "influxdb": "e109da52ead82d4a",
        "name": "",
        "measurement": "monitorizacion",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aprendiendonodered",
        "bucket": "aprendiendonodered",
        "x": 655,
        "y": 100,
        "wires": [],
        "l": false
    },
    {
        "id": "9dd806211bc32df2",
        "type": "link in",
        "z": "9c8508be57c9f0b2",
        "g": "5fb3bb4623a1533f",
        "name": "",
        "links": [
            "8e19d4ac29baaa12"
        ],
        "x": 175,
        "y": 60,
        "wires": [
            [
                "fb8da6d9a50c9b0c"
            ]
        ]
    },
    {
        "id": "648d0d641004f804",
        "type": "link in",
        "z": "9c8508be57c9f0b2",
        "g": "5fb3bb4623a1533f",
        "name": "",
        "links": [
            "89e8d6cd79661cb9"
        ],
        "x": 175,
        "y": 120,
        "wires": [
            [
                "17a0c8bda65efa93"
            ]
        ]
    },
    {
        "id": "fb8da6d9a50c9b0c",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "5fb3bb4623a1533f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload[\"cursomqtt/enrique/raspberrypi/CPU\"]",
                "pt": "msg",
                "to": "data.CPU",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload[\"cursomqtt/enrique/raspberrypi/temperatura\"]",
                "pt": "msg",
                "to": "data.Temperatura",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload[\"cursomqtt/enrique/raspberrypi/memoria\"]",
                "pt": "msg",
                "to": "data.Memoria",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 60,
        "wires": [
            [
                "aca568cb223d5561"
            ]
        ]
    },
    {
        "id": "17a0c8bda65efa93",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "5fb3bb4623a1533f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload[\"cursomqtt/casa/raspberrypi3/Temperatura\"]",
                "pt": "msg",
                "to": "data.Temperatura",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload[\"cursomqtt/casa/raspberrypi3/Memoria\"]",
                "pt": "msg",
                "to": "data.Memoria",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "1a2051d1c09fcdfa"
            ]
        ]
    },
    {
        "id": "aca568cb223d5561",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "5fb3bb4623a1533f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "data",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload[1]",
                "pt": "msg",
                "to": "{\"raspberry\":\"raspberrypitt\",\"nombre\":\"enrique\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 60,
        "wires": [
            [
                "b76931bc6c024737",
                "3d86d3755d49dc12"
            ]
        ]
    },
    {
        "id": "975bb1f46c1dbdbb",
        "type": "mqtt in",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "topic": "cursomqtt/Didac/raspberry/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e324f9b4a926545",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "5dd90803c8cd2a85"
            ]
        ]
    },
    {
        "id": "5a15f05de8dbcba5",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 465,
        "y": 300,
        "wires": [
            [
                "20196975c0c766f9"
            ]
        ],
        "l": false
    },
    {
        "id": "20196975c0c766f9",
        "type": "join",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "05256caa75103102"
            ]
        ]
    },
    {
        "id": "5dd90803c8cd2a85",
        "type": "switch",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Uptime",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 300,
        "wires": [
            [],
            [
                "5a15f05de8dbcba5"
            ]
        ]
    },
    {
        "id": "1a2051d1c09fcdfa",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "5fb3bb4623a1533f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "data",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload[1]",
                "pt": "msg",
                "to": "{\"raspberry\":\"raspberrypi3\",\"nombre\":\"enrique\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "b76931bc6c024737"
            ]
        ]
    },
    {
        "id": "05256caa75103102",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload[\"cursomqtt/Didac/raspberry/cpu\"]",
                "pt": "msg",
                "to": "data.CPU",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload[\"cursomqtt/Didac/raspberry/temp\"]",
                "pt": "msg",
                "to": "data.Temperatura",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload[\"cursomqtt/Didac/raspberry/freeMem\"]",
                "pt": "msg",
                "to": "data.Memoria",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 635,
        "y": 300,
        "wires": [
            [
                "014729d1d4038e9d"
            ]
        ],
        "l": false
    },
    {
        "id": "014729d1d4038e9d",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "data",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload[1]",
                "pt": "msg",
                "to": "{\"raspberry\":\"raspberrypi\",\"nombre\":\"didac\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "b76931bc6c024737"
            ]
        ]
    },
    {
        "id": "e175676577055c23",
        "type": "mqtt in",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "topic": "cursomqtt/carrilet/raspberry/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "6e324f9b4a926545",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "4654dd71ae1ff0b7"
            ]
        ]
    },
    {
        "id": "4654dd71ae1ff0b7",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 465,
        "y": 360,
        "wires": [
            [
                "47d597dc4d333927"
            ]
        ],
        "l": false
    },
    {
        "id": "47d597dc4d333927",
        "type": "join",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 550,
        "y": 360,
        "wires": [
            [
                "dd63c6be7af48876"
            ]
        ]
    },
    {
        "id": "dd63c6be7af48876",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload[\"cursomqtt/carrilet/raspberry/temperatura\"]",
                "pt": "msg",
                "to": "data.Temperatura",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload[\"cursomqtt/carrilet/raspberry/memory\"]",
                "pt": "msg",
                "to": "data.Memoria",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 635,
        "y": 360,
        "wires": [
            [
                "fbd1d21142b83aa4"
            ]
        ],
        "l": false
    },
    {
        "id": "fbd1d21142b83aa4",
        "type": "change",
        "z": "9c8508be57c9f0b2",
        "g": "ab211ab2e97208d8",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "data",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload[1]",
                "pt": "msg",
                "to": "{\"raspberry\":\"raspberrypi\",\"nombre\":\"carrilet\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 360,
        "wires": [
            [
                "b76931bc6c024737"
            ]
        ]
    },
    {
        "id": "3d86d3755d49dc12",
        "type": "debug",
        "z": "9c8508be57c9f0b2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 220,
        "wires": []
    }
]